<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/downloads" | relative_url }}">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/contribute" | relative_url }}">Contribute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/sponsor" | relative_url }}">Sponsor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/shop" | relative_url }}">Shop</a>
        </li>
        {% if site.twitter_username %}
        <li class="nav-item">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa-lg">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li class="nav-item">
          <a href="https://github.com/{{ site.github_username }}">
            <span class="fa-lg">
              <i class="fab fa-github"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if site.youtube_url %}
        <li class="nav-item">
          <a href="{{ site.youtube_url }}">
            <span class="fa-lg">
              <i class="fab fa-youtube"></i>
            </span>
          </a>
        </li>
        {% endif %}
        {% if site.reddit_url %}
        <li class="nav-item">
          <a href="{{ site.reddit_url }}">
            <span class="fa-lg">
              <i class="fab fa-reddit"></i>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>