Please send Paypal donations to [donations@libreelec.tv](mailto:donations@libreelec.tv) or use the button below.
<center>
<div id="donation_buttons">
   <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="business" value="donations@libreelec.tv"><input type="hidden" name="bn" value="mbjtechnolabs_SP"><input type="hidden" name="cmd" value="_donations">
      <table>
         <tbody>
            <tr>
               <td><input style="margin-top:10px;" type="image" name="submit" border="0" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_donate_cc_147x47.png" alt="PayPal - The safer, easier way to pay online"></td>
            </tr>
         </tbody>
      </table>
      <input type="hidden" name="currency_code" value="USD"><input type="hidden" name="notify_url" value="https://libreelec.tv/?Donation_Button&amp;action=ipn_handler"><input type="hidden" name="return" value="https://libreelec.tv/thank-you/">
   </form>
</div>
</center>
<br>