---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead" style="background-image: url('{{ post.url | prepend: site.baseurl }}/{{ site.default_header_logo }}')">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <div class="container mx-auto mt-4">
          <div class="row">
            {% for post in site.posts limit : site.post_limit %}
            <div class="col-md-6 mb-4">
              <div class="card">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="text-decoration-none">
                  <img src="{{ post.image }}" class="card-img-top" alt="">
                  <div class="card-body" style="min-height: 340px;">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: '%B %d, %Y' }}</h6>
                    <p class="card-text">{{ post.excerpt | strip_html | truncatewords: site.post_subtitle_limit }}</p>
                    <i class="btn float-right" style="position:absolute;bottom:0px;right:0px;"><i class="fas fa-link"></i> read more</i>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ "/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>